<% if user_signed_in? %>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Hi <%= current_user.email %> <i class="fa fa-user-circle fa-fw"></i> <span class="caret"></span> </a>
		<ul class="dropdown-menu">
			<% if can? :manage, :all %>
			<li>
				<%= link_to(rails_admin_path) do %> <!-- admin link -->
					<i class="fa fa-cog fa-fw"></i> Admin
				<% end %>
			</li>
			<% end %>
			<li>
				<%= link_to(edit_user_registration_path) do %>
					<i class="fa fa-user-plus fa-fw"></i> Account 
				<% end %>				
			</li>
			<li>
				<%= link_to(destroy_user_session_path, :method=>'delete') do %>
					<i class="fa fa-sign-out fa-fw"></i> Logout
				<% end %>					
			</li>
			<li class="cart-text">
	            <%= render 'layouts/app/cart_text' %>
			</li>
		</ul>
    </li>
<% else %>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Login <i class="fa fa-sign-in fa-fw"></i> <span class="caret"></span> </a>
		<ul class="dropdown-menu">
			<li>
				<%= link_to(new_user_registration_path) do %>
					<i class="fa fa-user-circle fa-fw"></i> Register 
				<% end %>				
			</li>
			<li>
				<%= link_to(new_user_session_path) do %>
					<i class="fa fa-sign-in fa-fw"></i> Login 
				<% end %>					
			</li>
		</ul>
    </li>
<% end %>
