<div class="home-raised">
<section id="category">
    <div class="container">
        <div class="section-header">
            <h2 class="title-one">All <span class="highlight"><strong>Categories</strong></span></h2>
        </div>
    </div>
	<div class="container">
		<div class="row">
			<div class="features_items">
				<h2 class="title text-center">Services</h2>
				<div class="text-center">
					<ul class="list-inline cat-s"> 
						<li><a href="javascript:void(0)" data-filter="*" class="active btn">All</a></li>
						<% @services.each do |service| %>
					    <li><%= link_to service.name, "javascript:void(0)", "data-filter": "." + service.name.downcase, class: "btn" %></li>
					    <% end %>
					</ul>
				</div>
				<div id="service-list">
					<% @listings_service.each do |service| %>
						<div class="col-md-4 col-lg-3 <%= service.cat_name.downcase %>">
						<%= render 'public/category_row', listing: service %>
						</div>
					<% end %>
				</div>
				<h2 class="title text-center">Products</h2>
				<div class="text-center">
					<ul class="list-inline cat-p">
						<li><a href="javascript:void(0)" data-filter="*" class="active btn">All</a></li>
						<% @products.each do |product| %>
					    <li><%= link_to product.name, "javascript:void(0)", "data-filter": "." + product.name.downcase, class: "btn" %></li>
					    <% end %>
					</ul>
				</div>
				<div id="product-list">
					<% @listings_product.each do |product| %>
						<div class="col-sm-6 col-md-4 col-lg-3 <%= product.cat_name.downcase %>">
						<%= render 'public/category_row', listing: product %>
						</div>
					<% end %>
				</div>
			</div><!--features_items-->				
		</div>
	</div>
</section>
</div>
