<div class="page" id="list-details">
    <div class="container">
        <div class="section-header">
            <h2 class="title-one"><strong><%= @list_details.name %></strong></h2>
        </div>
    </div>
    <div class="container">
		<div class="row">
            <div class="container product-det"> 
                <div class="row">
                    <div class="product col-sm-4 image-left">
                        <%= images(@list_details.image_loc, {class: "img-responsive"}, "listing") %>
                    </div>
                    <div class="col-sm-8">
                        <div class="h3 text-danger"><%= @list_details.name %></div>
                        <div class="h4 text-info"><%= @list_details.short_desc %></div>
                        <div class="product-rating" data-score="1"></div>
                        <hr>
                        <div class="h4"><%= number_to_currency(@list_details.curr_price, :unit => "Rs. ") %></div>
                        <!-- <div class="product-stock">In Stock</div> -->
                        <hr>
                        <!-- <div class="btn-group cart"> -->
                            <% if user_signed_in? %>
                                <%= form_for @order_item, remote: true do |f| %>
                                    <%= f.hidden_field :listing_id, value: @list_details.id %>
                                    <%= f.hidden_field :user_id, value: current_user.id %>
                                    <%= f.hidden_field :quantity, value: 1 %>
                                    <%= f.submit "Add to Cart", class: "btn" %>
                                <% end %>
                            <% end %>
                        <!-- </div> -->
                    </div>
                </div>
            </div> 
            <div class="col-sm-12 product-info">
                <ul id="myTab" class="nav nav-tabs nav_tabs">
                    <li class="active"><a href="#service-one" data-toggle="tab"><span class="text-primary">DESCRIPTION</span></a></li>
                    <li><a href="#service-two" data-toggle="tab"><span class="text-danger">REVIEWS</span></a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="service-one">
                        <section>
                            <%= @list_details.long_desc %>
                        </section>           
                    </div>
                    <div class="tab-pane fade" id="service-two">
                        <section>     
                        UNDER CONSTRUCTION                        
                        </section>  
                    </div>
                </div>
                <hr>
            </div>
		</div> 
	</div>
</div>