<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="flash-msg">
      <%= render 'layouts/app/flash_message' %> <!-- flash_message -->
    </div> 
    <%= render 'layouts/app/nav' %> <!-- navigation -->

    <% if devise_controller? %>
      <div class="main">
        <div class="fullheight" id="devise">
          <div class="row">
              <%= yield %> <!-- main content -->
          </div>
        </div>
      </div>
    <% else %>
      <div class="main">
        <%= yield %> <!-- main content -->
      </div>
    <% end %>

  </body>
</html>
